<main class="b-main">
    <div class="container">
        <div class="b-tabs">

            <div class="b-tabs__container">
                <div class="b-form__title-dark b-form__title">Persönliche Daten</div>

                <!--antragsteller  START-->
                <div class="first_form clearfix">
                    <div class="first_form clearfix">
                        <div class="wrap-form">
                            <h4 class="b-form__sub-header">Antragsteller 1</h4>

                            <!--antragsteller-->
                            <antragsteller data-parent="vm.antragsteller1">
                                <!--antragsteller END-->

                        </div>
                        <div class="wrap-form">
                            <h4 class="b-form__sub-header">Antragsteller 2</h4>
                            <!--antragsteller-->
                            <antragsteller data-parent="vm.antragsteller2">
                                <!--antragsteller END-->
                        </div>

                    </div>
                </div>
                <!--antragsteller END-->

                <!--KINDER START-->
                <div class="second_form clearfix">
                    <h4 class="b-form__sub-header">Kinder: <span>Leben Kinder im Haushalt?</span></h4>
                    <div class="b-form__title-btn b-form__title">
                        <div class="b-form__list-view-item">
                            <span class="kinder" ng-click="vm.addKinder()">
                                <img class="btn btn__plus btn--light"
                                     src="content/images/icons/plus.png"
                                     alt="plus_btn">
                                Kind erfassen
                            </span>
                        </div>
                        <div class="b-form__right-list">
                            <div class="btn btn--light" ng-click="vm.clearKinder()">Keine Kinder vorhanden</div>
                        </div>
                    </div>
                    <kinder ng-repeat="kinder in vm.kinders track by $index" data-parent="kinder"
                            data-index="{{$index}}"></kinder>
                </div>
                <!--KINDER END-->


                <div class="third_form clearfix">
                    <div class="b-form__title-dark b-form__title">Finanzielle Situation</div>
                    <h4 class="b-form__sub-header">Vermögen, Einnahmen, Ausgaben, Verbindlichkeiten</h4>

                    <!--TOP LIST OF BANKS-->
                    <div class="b-form__list-view clearfix">
                        <ul class="b-form__half-col">
                            <li class="b-form__list-view-item"
                                ng-repeat="item in vm.bank_list.left track by $index"
                                ng-class="vm.checkMaxInBanks(item) ? 'terminated-items' : ''">
                                <a style="cursor: pointer" ng-click="vm.addItem(item,'L')">
                                    <img class="btn btn__plus btn--light"
                                         ng-if="vm.checkMaxInBanks(item)"
                                         src="content/images/icons/plus.png"
                                         alt="plus_btn">
                                    <img class="btn btn__plus btn--light"
                                         ng-if="!vm.checkMaxInBanks(item)"
                                         src="content/images/icons/plus.png"
                                         style="visibility: hidden;"
                                         alt="plus_btn">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>

                        <ul class="b-form__half-col">
                            <li class="b-form__list-view-item"
                                ng-repeat="item in vm.bank_list.right"
                                ng-class="vm.checkMaxInBanks(item) ? 'terminated-items' : ''">
                                <a style="cursor: pointer" ng-click="vm.addItem(item,'R')">
                                    <img class="btn btn__plus btn--light"
                                         ng-if="vm.checkMaxInBanks(item)"
                                         src="content/images/icons/plus.png"
                                         alt="plus_btn">
                                    <img class="btn btn__plus btn--light"
                                         ng-if="!vm.checkMaxInBanks(item)"
                                         src="content/images/icons/plus.png"
                                         style="visibility: hidden;"
                                         alt="plus_btn">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--TOP LIST OF BANKS END-->

                        <!--FIELDS OF BANKS START-->
                    <div class="b-form__blocks-separator">
                        <ul class="b-form__block b-form__list banks-left">
                            <li class="b-form__list-item" ng-repeat="(key,bank) in vm.bank_items_left"
                                ng-include="'templates/antragsteller/bank_list/'+bank.id+'.html'">
                            </li>
                        </ul>
                        <ul class="b-form__block b-form__list banks-right">
                            <li class="b-form__list-item" ng-repeat="(key,bank) in vm.bank_items_right"
                                ng-include="'templates/antragsteller/bank_list/'+bank.id+'.html'">
                            </li>
                        </ul>
                    </div>
                    <!--FIELDS OF BANKS END-->

                </div>



                <div class="second_form clearfix">
                    <h4 class="b-form__sub-header">Weitere Immobilien: <span>Sind weitere Immobilien vorhanden?</span>
                    </h4>
                    <div class="b-form__title-btn b-form__title">
                        <div class="btn btn--light">Keine immobilien vorhanden</div>
                    </div>
                </div>

                <div class="second_form clearfix">
                    <h4 class="b-form__sub-header bankverbindung">
                        <img class="btn btn__plus btn--light"
                             src="content/images/icons/plus.png"
                             ng-click="vm.addBank()"
                             alt="plus_btn"> Bankverbindung</h4>
                    <div class="b-form__block b-banking clearfix"
                         ng-repeat="bank in vm.data.bankverbindung track by $index">
                        <div class="b-banking__item b-banking__kont">
                            <span class="b-form__input">
                                <label for="kont">Kontoinhaber</label>
                                <select id="kont" ng-model="bank.kont">
                                    <option ng-selected="{{bank.kont === -1}}" value="-1">Bitte wählen Sie ...</option>
                                    <option ng-selected="{{bank.kont === 1}}" value="1">Antragsteller 1</option>
                                    <option ng-selected="{{bank.kont === 2}}" value="2">Antragsteller 2</option>
                                    <option ng-selected="{{bank.kont === 3}}" value="3">beide Antragsteller</option>
                                </select>
                            </span>
                        </div>
                        <div class="b-banking__item b-banking__iban">
                            <span class="b-form__input">
                                <label for="iban">IBAN</label>
                                <input id="iban" type="text" ng-model="bank.iban">
                            </span>
                        </div>
                        <div class="b-banking__item b-banking__bic">
                            <span class="b-form__input">
                                <label for="bic">BIC</label>
                                <input id="bic" type="text" ng-model="bank.bic">
                            </span>
                        </div>
                        <div class="b-banking__item b-banking__num">
                            <span class="b-form__input">
                                <label for="num">Konto-Nr.</label>
                                <input id="num" type="text" ng-model="bank.num">
                            </span>
                        </div>
                        <div class="b-banking__item b-banking__blz">
                            <span class="b-form__input">
                                <label for="blz">BLZ</label>
                                <input id="blz" type="text" ng-model="bank.blz">
                            </span>
                        </div>
                        <div class="b-banking__item b-banking__kredit">
                            <span class="b-form__input">
                                <label for="cred_inst">Kreditinstitut</label>
                                <input id="cred_inst" type="text" ng-model="bank.cred_inst">
                            </span>
                        </div>
                        <img src="content/images/icons/trash_basket.png"
                             class="btn btn__trash btn--light bank-delete"
                             ng-click="vm.deleteBank($index)">
                    </div>
                </div>

                <div class="b-form__title-light b-form__title">Zusatzangaben</div>

            </div>
        </div>
        <div class="b-tabs submit-area">
            <ul class="b-tabs__titles clearfix">
                <li class="b-tabs__custom-item b-tabs__custom-item--right">
                    <button class="btn btn__dark" ng-click="vm.submit()">
                        Submit
                    </button>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <div class="b-footer">
        <div class="container">
            <ul class="b-footer__nav clearfix">
                <li class="b-footer__nav-item b-footer__nav-user">Vorgang: {{vm.params_id}}</li>
            </ul>
        </div>
    </div>
</footer>