<main class="b-main">
    <div class="container">
        <div class="b-tabs">
            <ul class="b-tabs__titles clearfix">
                <li class="b-tabs__titles-item b-tabs__titles-item--current b-tabs__big-user" ui-sref="index({id: vm.params_id})"><span>ANTRAGSTELLER</span>
                </li>
                <li class="b-tabs__titles-item b-tabs__home" ui-sref="second({id: vm.params_id})"><span>IMMOBILIE</span></li>
                <li class="b-tabs__titles-item b-tabs__home-bank" ui-sref="third({id: vm.params_id})"><span>KREDIT-DATEN</span></li>
                <li class="b-tabs__titles-item b-tabs__home-bank" ui-sref="fourth({id: vm.params_id})"><span>DOKUMENTE</span></li>
            </ul>
            <div ui-view></div>
        </div>
    </div>
</main>