<div class="content-block wiedervorlage">
    <div class="content-block-one">
        <a>Alle Filter zurücksetzen</a>
        <!--<div class="top-part">-->
        <!--<span>Vorgänge auswählen:</span>-->
        <!--<a href="">Alle</a>-->
        <!--<a href="">Keine</a>-->
        <!--</div>-->
        <!--<div class="sort">-->
        <!--<label>Sortierung:</label>-->
        <!--<select>-->
        <!--<option>Neueste Ereignisse</option>-->
        <!--</select>-->
        <!--</div>-->
        <div style="margin-left: 20px;" class="sort">
            <label>Bearbeiter:</label>
            <select ng-change="vm.getRecortdByFilter()" ng-model="vm.filter.user" ng-init="vm.filter.user='All'">
                <option value="All">All</option>
                <option ng-repeat="item in vm.users" value="{{item.Benutzername}}">{{item.Benutzername}}</option>
            </select>
        </div>
    </div>
    <div class="content-block-two">
        <div class="cbt1">
            <div class="cbt1-title">
                <div class="cbt1-title-img"><img src="content/images/icons/arrow.png"></div>
                <h4>Wiedervorlage, Fälligkeit</h4>
            </div>
            <span>
					<input type="checkbox" id="keine" ng-model="vm.filter.keine" ng-change="vm.getRecortdByFilter()">
					<label for="keine">keine Wiedervorlage</label>
				</span>
            <span>
					<input type="checkbox" id="uber" ng-model="vm.filter.uber" ng-change="vm.getRecortdByFilter()">
					<label for="uber">überfällig</label>
				</span>
            <span>
					<input type="checkbox" id="heute" ng-model="vm.filter.heute" ng-change="vm.getRecortdByFilter()">
					<label for="heute">heute</label>
				</span>
            <span>
					<input type="checkbox" id="morgen" ng-model="vm.filter.morgen" ng-change="vm.getRecortdByFilter()">
					<label for="morgen">morgen</label>
				</span>
            <span>
					<input type="checkbox" id="tagen" ng-model="vm.filter.tagen" ng-change="vm.getRecortdByFilter()">
					<label for="tagen">in den nächsten 5 Tagen</label>
				</span>
            <span>
					<input type="checkbox" id="spater" ng-model="vm.filter.spater" ng-change="vm.getRecortdByFilter()">
					<label for="spater">später</label>
				</span>
        </div>
        <div class="cbt2">
            <div class="cbt2-middle" style="cursor: pointer" ng-repeat="wiedervolage in vm.vorgangs track by $index" ng-click="vm.openComment(wiedervolage)">
                <div class="cbt2-middle-top">
                    <input type="checkbox" name="">
                    <h3>{{wiedervolage.Code}}<br>{{wiedervolage.Antragsteller1}} / {{wiedervolage.Antragsteller2}}</h3>
                    <span>
							<img src="content/images/icons/circle.png">
						</span>
                </div>
                <span class="cbt2-img-home" ui-sref="app.tabs.antragsteller({id: wiedervolage.entryId})">
                    <span><img src="content/images/icons/singl_home.png"></span>
                    <span>{{wiedervolage.Login}}</span>
					</span>
                <div class="cbt2-middle-bottom">
                    <img src="content/images/icons/big_user.png" alt="">
                    <img src="content/images/icons/big_user.png" alt="">
                </div>
            </div>
        </div>
        <wiedervolage-comment ng-if="vm.commentVisible" parent="vm.commentmain"></wiedervolage-comment>
    </div>
</div>
