<div class="container editor-block">
    <div class="editor-menu">
        <ul class="b-form__block">
            <li><a href="#">Letter 1</a></li>
            <li><a href="#">Letter 2</a></li>
            <li><a href="#">Letter 3</a></li>
            <li><a href="#">Letter 4</a></li>
            <li><a href="#">Letter 5</a></li>
        </ul>
    </div>
    <div class="editor-content">
        <div class=" b-form__block editor-screen">
            <text-angular ng-model="htmlVariable"></text-angular>
        </div>
        <div class="b-form__title-btn b-form__title">
            <button  type="submit">Brief senden</button>
            <button type="submit">Saver as</button>
        </div>
    </div>
</div>
