<div class="container editor-block">
    <div class="editor-menu">
        <ul class="b-form__block">
            <li ng-click="vm.newTemplate()"><a>Neue Briefvorlage</a></li>
            <li ng-repeat="template in vm.templates" ng-click="vm.onTemplateClick(template)" style="padding: 20px 10px;">
                <a>{{template.Name}}</a>
                <div class="b-buy__item b-buy__options" style="float: right;">
                 <span class="b-form__input">
                    <img src="content/images/icons/trash_basket.png" class="btn btn__trash btn--light" ng-click="vm.remove(template, $index)">
                </span>
                </div>
            </li>

        </ul>
    </div>
    <div class="editor-content">
        <div class=" b-form__block editor-screen">
            <text-angular ng-model="vm.htmlContent">
                {{vm.htmlContent}}
            </text-angular>
        </div>
        <div id="editor"></div>
        <div class="b-form__title-btn b-form__title">
            <button ng-if="vm.id" ng-click="vm.pdfDownload()">Laden Sie die Vorlage</button>
            <button type="submit" ng-click="vm.save()">Speichern unter</button>
        </div>
    </div>
</div>
