<div class="container editor-block">
    <div class="editor-menu">
        <ul class="b-form__block">
            <li ng-click="vm.newTemplate()"><a>Neue Briefvorlage</a></li>
            <li ng-repeat="template in vm.templates" ng-click="vm.onTemplateClick(template)"><a>{{template.Name}}</a></li>
        </ul>
    </div>
    <div class="editor-content">
        <div class=" b-form__block editor-screen">
            <text-angular ng-model="vm.htmlContent">
                {{vm.htmlContent}}
            </text-angular>
        </div>
        <div id="editor"></div>
        <div class="b-form__title-btn b-form__title">
            <button ng-if="vm.id" ng-click="vm.pdfDownload()">Laden Sie die Vorlage</button>
            <button type="submit" ng-click="vm.save()">Speichern unter</button>
        </div>
    </div>
</div>
